/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
@import 'colors-waybar.css';

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: rgba(0,0,0,0.8);
    border-bottom: 0px solid #ffffff;
    /* color: #FFFFFF; */
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
    background: #FFFFFF;
    margin: 5px 5px 5px 5px;
    padding: 4px 1px;
    border-radius: 12px;
    font-weight: normal;
    font-style: normal;
    opacity:0.8;
}

#workspaces button {
    padding: 0px 10px;
    margin: 0px 3px;
    border-radius: 12px;
    color: @color11;
    background-color: @color11;
    transition: all 0.3s ease-in-out;
    opacity:0.4;
    font-size:13px;
}

#workspaces button.active {
    color: #cdd6f4;
    background-color: @color11;
    border-radius: 10px;
    min-width: 30px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}
